body{
    background-color: black;
    font-family: 'Hind Siliguri', sans-serif;
    color: white;
    padding: 0;
}

    .grid_index {
        display: grid;
        grid-template-areas:
        "cabecera cabecera cabecera"
        "principal principal principal"
        "fechas fechas publicidad"
        "noticias noticias publicidad"
        "footer footer footer";
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(3, 1fr);
        height: 100vh;
    }
        .cabecera {
            grid-area: cabecera;
        }

        .principal {
            grid-area: principal;
        }

        .fechas {
            grid-area: fechas;
        }

        .noticias {
            grid-area: noticias;
        }
        .section_img {
            grid-area: publicidad;
        }
        .footer {
            grid-area: footer;
        }

    .grid_miembros{
        display: grid;
        grid-template-areas:
        "cabecera"
        "hetfield"
        "ulrich"
        "hammett"
        "trujillo"
        "footer";
        grid-template-rows: repeat(6, 1fr);
        height: 100vh;
        }
        .cabecera {
            grid-area: cabecera;
            }

        .hetfield {
            grid-area: hetfield;
            }

        .ulrich {
            grid-area: ulrich;
            }

        .hammett {
            grid-area: hammett;
            }
        .trujillo {
            grid-area: trujillo;
            }
        .footer {
            grid-area: footer;
            }

    .grid_galeria{
        display: grid;
        grid-template-areas:
        "cabecera"
        "main_galeria"
        "footer";
        grid-template-rows: repeat(3, 1fr);
        height: 100vh;
        }
        .cabecera {
            grid-area: cabecera;
            }

        .main_galeria {
            grid-area: main_galeria;
            }

        .footer {
            grid-area: footer;
            }

.navegador{
    display: flex;
    justify-content: space-evenly;
    .cabecera_links {
        display: flex;
        align-items: center;
        list-style-type: none;
        justify-content: space-evenly;
        flex: 1;
        li{
            a{
                text-decoration: none;
                font-size: 24px;
                color: white; 
            }
        }
    }
}

.principal{
    h1{
        text-align: center;
        font-size: 64px;
        font-weight: 900;
    }
    .video_metallica {
        overflow:hidden;
        padding-bottom:600px;
        position:relative;
        height:0;
        margin-bottom: 100px;
        .video_iframe {
            margin-left: auto;
            margin-right: auto;
            height: 100%;
            width: 100%;
            position: absolute;
        }
    }
    h2{
        text-align: center;
        margin-top: 50px;
        font-size: 48px;
        font-weight: 600;
        }
    .metallica{
        display: flex;
        margin-top: 5rem;
        align-items: flex-start;
        margin-bottom: 100px;
        .metallica_foto{
            height: 100%;
            border-radius: 10%;
        }
        }
    .metallica_texto{
        margin-left: 2rem;
        margin-right: 2rem;
        border-top: solid;
        padding: 10px;
        }
}

.tickets{
    display: flex;
    justify-content: space-between;
    padding: 12px;
    margin-left: 25px;
    margin-right: 25px;
    button{
        border: none;
        padding: 8px;
        background-color: rgb(121, 153, 56);
        border-radius: 5%;
        cursor: pointer;
        &:hover{
            background-color: rgb(168, 252, 0);
            font-style: italic;
            }
        }
}

.noticias_article{
    margin-right: 2.5rem;
    margin-left: 2.5rem;
}

.section_img{
    display: flex;
    justify-content: space-evenly;
    .imagen_pelicula {
        img{
            display: flex;
            align-items: center;
            margin-top: 0;
        }
    } 
}

.footer{
    display: flex;
    padding: 15px;
    justify-content: space-evenly;
    align-items: center;
    border-top: solid;
    margin-top: 60px;
    background-color:black;

}

.miembros{
    display: flex;
    .miembros_foto{
        border-radius: 5%;
    }
    .miembros_texto{
        margin: 2rem;
        border-top: solid;
        padding: 10px;
        margin-top: 0;
    }
}

.boton{
    font-weight: 600;
    color: darkred;
}

.fotos{
    width: 100%;
}

.galeria{
    display: flex;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
    .galeria_fotos{
        img{
            border-radius: 1rem;
        }
    }
}

.galeria_fotos:nth-of-type(1){
    grid-column: 1/5;
}
.galeria_fotos:nth-of-type(2){
    grid-column: 5/9;
}

.galeria_fotos:nth-of-type(3){
    grid-column: 9/13 ;
}

.galeria_fotos:nth-of-type(4){
    grid-column: 1/5 ;
}

.galeria_fotos:nth-of-type(5){
    grid-column: 5/9;
}
.galeria_fotos:nth-of-type(6){
    grid-column: 9/13;
}

.galeria_fotos:nth-of-type(7){
    grid-column: 1/5 ;
}

.galeria_fotos:nth-of-type(8){
    grid-column: 5/9 ;
}
.galeria_fotos:nth-of-type(9){
    grid-column: 9/13 ;
}
.galeria_fotos:hover{
    filter: opacity(0.7);
    transform: scale(1.1);
    transition: ease-in-out .5s;
}


.main_formulario{
    display: flex;
    justify-content: space-evenly;

}

.btn{
    background-color: black;
    border: none;
    display: flex;
    justify-content: center;
    align-content: flex-end;
}

.card-img-top-center{
    border-radius: 5%;
}

.card{
    background-color: transparent;
}

@media screen and (max-width: 576px){

    .grid_index {
        display: grid;
        grid-template-areas:
        "cabecera"
        "principal"
        "fechas"
        "noticias"
        "publicidad"
        "footer";
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: 1fr;
        height: 100vh;
        row-gap: 0px;
        column-gap: 0px;
    }


        .cabecera {
            grid-area: cabecera;
        }

        .principal {
            grid-area: principal;
        }

        .fechas {
            grid-area: fechas;
        }

        .imagen_pelicula {
            grid-area: publicidad;
        }
        .noticias {
            grid-area: noticias;
        }

        .footer {
            grid-area: footer;
        }


    .navegador {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .cabecera_logo{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 250px;
            }
        .cabecera_links{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            flex: 1;
            padding: 0;
            li{
                a{
                    font-size: 16px;
                    padding: 2px;
                    margin: 0;
                }
            }
        }
    }
    
    .principal{
        h1{
            font-size: 42px;
            }
        .video_metallica {
            overflow:hidden;
            padding-bottom:400px;
            position:relative;
            height:0;
            .video_iframe {
                margin-left: auto;
                margin-right: auto;
                height: 100%;
                width: 100%;
                position: absolute;
            }
        }
        h2{
            font-size: 24px;
            }
        .metallica{
            flex-direction: column;
            .metallica_foto{
                img{
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    }
                }
            .metallica_texto{
                p{
                font-size: 12px;
                }
                margin:16px;
                }
            }
        }

    .tickets{
        span{
            font-size: 12px;  
        }
        button{
            height: 24px;
        }
    }
    
    .noticias_links{
        li{
            font-size: 12px;
        }
    }
    
    .publicidad{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .imagen_pelicula img{
    width: 100%;
}
    .miembros{
        flex-direction: column;
        .miembros_foto{
            display: flex;
            width: 100%;
            justify-content: center;
            margin: 0;
            padding: 40px;
        }
        .miembros_texto{
            font-size: 12px;
            margin: 16px;
        }
    }

    .card-text{
        font-size: 12px;
    }
    .galeria{
        display: flex;
        flex-direction: column;
        .galeria_fotos{
            width: 100%;
        }
        picture{
            margin: 0;
        }
    }
    
    .logo_contacto{
        width: 100%;
    }
    .main_formulario{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        .logo_contacto{
            width: 100%;
        }
    }
}
@media screen and (min-width: 577px) and (max-width:900px){

    .grid_index {
        display: grid;
        grid-template-areas:
        "cabecera"
        "principal"
        "fechas"
        "noticias"
        "publicidad"
        "footer";
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: 1fr;
        height: 100vh;
        row-gap: 0px;
        column-gap: 0px;
    }


        .cabecera {
            grid-area: cabecera;
        }

        .principal {
            grid-area: principal;
        }

        .fechas {
            grid-area: fechas;
        }

        .imagen_pelicula {
            grid-area: publicidad;
        }
        .noticias {
            grid-area: noticias;
        }

        .footer {
            grid-area: footer;
        }

    
    .navegador {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .cabecera_links{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex: 1;
            padding: 0;
            li{
                a{
                    font-size: 24px;
                    padding: 12px;  
                }
            }
        }
    }

    .metallica{
    flex-direction: column;
}

.principal{
    .metallica{
        .metallica_foto{
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            margin: 0;
            img{
                width: 80%;
                margin: 0;
                padding: 0;
            }
        }
    }
}

.section_img{
    display: flex;
    justify-content: space-evenly;
    .imagen_pelicula{
        display: flex;
        justify-content: space-evenly;
        width: 50%;
    }
}

.miembros{
    flex-direction: column;
    .miembros_foto{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        margin: 0;
        padding: 100px;
        border-radius: 15%;
    }
}

.main_formulario{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
}
