h1{
    text-align: center;
    font-size: map-get($fontsize, h1FontSize);
    font-weight: map-get($fontsize, h1FontWeight);
}

@media screen and (max-width: 576px){
    h1{
        font-size: map-get($fontsize, h1FontSizeMQ);
        }
}
