.navegador{
    display: flex;
    justify-content: space-evenly;
    .cabecera_links {
        display: flex;
        align-items: center;
        list-style-type: none;
        justify-content: space-evenly;
        flex: 1;
        li{
            a{
                text-decoration: none;
                font-size: $headerFontSize;
                color: $mainTextColor; 
            }
        }
    }
}

@media screen and (max-width: 576px){
    .navegador {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .cabecera_logo{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 250px;
            }
        .cabecera_links{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            flex: 1;
            padding: 0;
            li{
                a{
                    font-size: 16px;
                    padding: 2px;
                    margin: 0;
                }
            }
        }
    }
}

@media screen and (min-width: 577px) and (max-width:900px){
    .navegador {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .cabecera_links{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex: 1;
            padding: 0;
            li{
                a{
                    font-size: $headerFontSize;
                    padding: 12px;  
                }
            }
        }
    }
}
