$colors: (
mainColor: black,
mainTextColor: white,
botonColor:darkred,
);

$fontsize: (
h1FontWeight: 900,
h1FontSize: 64px,
h1FontSizeMQ: 42px,
h2FontSize: 48px,
h2FontSizeMQ: 24px,
h2FontWeight: 600,
headerFontSize: 24px,
);