.miembros{
    display: flex;
    .miembros_foto{
        border-radius: 5%;
        object-fit: contain;
    }
    .miembros_texto{
        margin: 2rem;
        border-top: solid;
        padding: 10px;
        margin-top: 0;;
    }
}

@media screen and (max-width: 576px){
    .miembros{
        flex-direction: column;
        .miembros_foto{
            display: flex;
            width: 100%;
            justify-content: center;
            margin: 0;
            padding: 40px;
        }
        .miembros_texto{
            font-size: 13px;
            margin: 16px;
            border-top: none;
            border-bottom: solid;
        }
        .trujillo {
            border-bottom: none;
        }
    }

}

@media screen and (min-width: 577px) and (max-width:900px){
    .miembros{
        flex-direction: column;
        .miembros_foto{
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            margin: 0;
            padding: 100px;
            border-radius: 15%;
        }
        .miembros_texto{
            border-top: none;
            border-bottom: solid;
        }
        .trujillo{
            border-bottom: none;

        }

}
}