@import "./partials/variables";
@import "./partials/body";
@import "./partials/bootstrap";
@import "./partials/carousel-index";
@import "./partials/footer";
@import "./partials/formulario";
@import "./partials/galeria";
@import "./partials/grid-galeria";
@import "./partials/grid-index";
@import "./partials/grid-miembros";
@import "./partials/h1";
@import "./partials/h2";
@import "./partials/header";
@import "./partials/main-index";
@import "./partials/miembros";
@import "./partials/noticias";
@import "./partials/tickets";